<footer th:fragment="footerFragment" class="site-footer">
    <div class="footer-content">
        <div class="footer-section about">
            <h3 class="footer-heading">사이트 소개</h3>
            <p>배움의 열정과 가르침의 기쁨을 연결하는 곳</p>
            <p>우리는 강의자와 수강생을 이어주는 특별한 플랫폼입니다.</p>
            <p>당신의 지식은 누군가의 미래가 되고,</p>
            <p>당신의 호기심은 새로운 세상을 엽니다.</p>
            <p>여기 Lesson82에서 시작하세요!</p>
        </div>

        <div class="footer-section contact">
            <h3 class="footer-heading">연락처</h3>
            <p><i class="fas fa-map-marker-alt"></i> 대구광역시 한국it교육원</p>
            <p><i class="fas fa-phone"></i> 010-3119-8320</p>
            <p><i class="fas fa-envelope"></i> kimhancheol07@gmail.com</p>
        </div>
        <div class="footer-section social">
            <h3 class="footer-heading">팔로우</h3>
            <div class="social-icons">
                <a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a>
                <a href="https://x.com"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy;team 오인용</p>
    </div>
</footer>